.venv
venv/
env/
.vscode
*.py[cod]
*$py.
__pycache__/
*.pyc
*.pyo
.env
.env.*
!.env.example
*.db
*.sqlite
*.sqlite3
*.db-journal
database/
.pytest_cache/
.coverage
htmlcov/
.cache/
.DS_Store
