<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
  </head>
  <body>
    <div class="login-container">
      <h1>Willkommen</h1>
      <div style="height: 10px"></div>
      <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="discipline">Disziplin:</label>
        <select name="discipline" id="discipline" required>
          <option value="" hidden></option>
          <option value="Sprinten">Sprinten</option>
          <option value="Laufen">Laufen</option>
          <option value="Weitsprung">Weitsprung</option>
          <option value="Kugelstoßen">Kugelstoßen</option>
          <option value="Werfen">Werfen</option>
        </select>

        <label for="password">Passwort:</label>
        <input
          type="tel"
          id="password"
          name="password"
          pattern="\d*"
          required
        />

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
